/* FONTS */

/* Andika - SIL International (OFL) */
@font-face {
  font-family: Andika;
  src: url(fonts/Andika.ttf);
}

@font-face {
  font-family: Andika;
  src: url(fonts/Andika-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Andika;
  src: url(fonts/Andika-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Andika;
  src: url(fonts/Andika-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

/* Bona Nova - Capitalics, Mateusz Machalski, Andrzej Heidrich (OFL) */

@font-face {
  font-family: BN;
  src: url(fonts/BonaNova.ttf);
}

@font-face {
  font-family: BN;
  src: url(fonts/BonaNova-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: BN;
  src: url(fonts/BonaNova-Italic.ttf);
  font-style: italic;
}

/* EB Garamond - Georg Duffner & Octavio Pardo (OFL)*/
@font-face {
  font-family: EBG;
  src: url(fonts/EBGaramond.ttf);
}

@font-face {
  font-family: EBG;
  src: url(fonts/EBGaramond-Italic.ttf);
  font-style: italic;
}

/* Gentium Plus - SIL International (OFL) */

@font-face {
  font-family: GP;
  src: url(fonts/GentiumPlus.ttf);
}

@font-face {
  font-family: GP;
  src: url(fonts/GentiumPlus-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: GP;
  src: url(fonts/GentiumPlus-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: GP;
  src: url(fonts/GentiumPlus-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

/* Noto Serif - Google (OFL) */
@font-face {
  font-family: NS;
  src: url(fonts/NotoSerif.ttf);
}

@font-face {
  font-family: NS;
  src: url(fonts/NotoSerif-Italic.ttf);
  font-style: italic;
}



/* GLOBAL STYLES*/

html {
  font-family: Andika;
  /*font-size: 16px;*/
  cursor: default;
  scroll-padding-top: 10vw;
  background-color: #f9f9fb;
}

h1 {
  font-family: Andika;
  font-size: 3rem;
  margin-bottom: 0px !important;
  
  text-align: center;
}

a {
  text-decoration: none;
  color: slategrey;
}

a:hover {
  color: darkslategrey;
  transition: 0.25s;
}

p {
  text-align: justify;
}

.ul {
  text-decoration: underline;
}

#Title {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 1;
  margin-bottom: 1vw;
  padding: 0.5vw 0;
  background-color: #d4e9e2;
  cursor: pointer;
  text-align: center;
  font-size: 3vw;
  font-family: GP;
  font-weight: 600;
}

#Title:hover {
  background-color: #bcdce1;
  transition-duration: 0.2s;
}

#GoToTop {
  display: none;
  position: fixed;
  bottom: 1vw;
  left: 1vw;
  background-color: #5a7c77;
  opacity: 0.8;
  color: white;
  border: solid 1px black;
  border-radius: 1vw;
  padding: 1vw;
  cursor: pointer;
  font-family: inherit;
}

#GoToTop:hover {
  opacity: 1;
  transition: 0.25s;
}

#Back {
  display: none;
  position: fixed;
  top: 1vw;
  left: 1vw;
  background-color: #5a7c77;
  opacity: 0.8;
  color: white;
  border: solid 1px black;
  border-radius: 1vw;
  padding: 1vw;
  cursor: pointer;
  font-family: inherit;
}

#Back:hover {
  opacity: 1;
  transition: 0.25s;
}

#sig {
  padding: 0.5rem;
  background-color: #d4e9e2;
  text-align: right;
}

/* LISTS */

ul > li {
  list-style-type: none;
  padding-left: 1rem;
}

ul > li > ul > li {
  list-style-type: "– ";
}

/* NAV BAR STUFF */

#HomePageLanding {
  padding: 0 2vw;
  font-size: 1vw;
}

#HomeNavTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.NavHeader {
  background-color: #d4f7e2;
  padding: 1vw;
  cursor: pointer;
  text-align: center;
}

.NavHeader:hover {
  background-color: #81b1a2;
  transition-duration: 0.2s;
}

#NavPageTable button {
  display: grid;
  grid-template-columns: fit-content(90%) 1fr;
  background-color: #f2f8f6;
  width: 100%;
  padding: 1vw;
  text-align: left;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

#NavPageTable button:hover {
  background-color: #bcdce1;
  transition-duration: 0.2s;
}

#NavPageTable button div:nth-child(1) {
  text-align: left;
  color: #5a7c77;
  font-weight: bold;
}

#NavPageTable button div:nth-child(2) {
  text-align: right;
}

/* TEXT CLASSES */

.fancy {
  font-family: BN;
  line-height: 1.5rem;
}

.greek {
  font-family: EBG;
  font-style: normal;
}

.latin {
  font-family: BN;
}

.majuscule {
  font-family: GP;
  text-transform: uppercase;
  font-style: normal !important;
}

sup {
  margin: 0.25rem;
  font-size: 0.75rem;
}

em {
  font-style: normal;
  font-weight: bold;
  /*color: #81b1a2;*/
  color: #5a7c77;
}

.emul {
  font-style: normal;
  font-weight: bold;
  color: #5a7c77;
  text-decoration: underline;
}

strong {
  font-variant: small-caps;
  color: #006644;
}

.italic {
  font-style: italic;
}

.gp {
  font-family: GP;
  font-style: normal !important;
}

.poem {
  font-size: 1.25rem;
}

.quote {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;
  font-style: italic;
  background-color: #f2f8f6;
  font-size: 1.25rem;
  line-height: 2rem;
}

.translation {
  text-align: center;
  padding-bottom: 1rem;
  color: slategrey;
  background-color: #f2f8f6;
  font-family: BN;
  font-style: italic;
  font-size: 1rem;
}

.source {
  text-align: right;
  padding: 0 1rem;
  background-color: #d4f7e2;
  font-family: BN;
  line-height: 2rem;
}

.twoCol ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 1vw;
}

.LingoTerm {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: fit-content(90%) 1fr;
  border-top: dotted 1px black;
}

.LingoTermHead {
  padding-right: 3rem;
  font-size: 1.75rem;
  line-height: 3.5rem;
  font-weight: bold;
  color: #006644;
}

.LingoTermPron {
  padding: 1.1rem 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.LingoTermDefs {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-column: 1 / 3;
  margin-top: 0.5rem;
}

.LingoTermType {
  grid-row: 1 / 4;
  font-weight: bold;
  font-variant: small-caps;
}

.LingoTermDefn {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.LingoTermQuot {
  padding-left: 1rem;
  font-style: italic;
}

.LingoTermNote {
  padding: 0.5rem 1.5rem 0 1.5rem;
  font-variant: small-caps;
}

/* TABLES */

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


th {
  padding: 0.5rem 0.75rem;
  background-color: #d4f7e2;
  border: outset 1px #bcecd1;
}

td {
  padding: 0.5rem 0.75rem;
  background-color: #f2f8f6;
}



/* SPECIFIC CASES */

.cd {
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  color: darkgrey;
}

.bib {
  opacity: 0.7;
  text-indent: 2.5rem hanging each-line;
  margin-left: 3rem;
  counter-reset: notes;
}

.bib p {
  display: grid;
  row-gap: 0.5rem;
}

.bib fn {
  position: relative;
}

.bib fn::before {
  counter-increment: notes;
  content: "[" counter(notes) ".] ";
  position: absolute;
  left: -3rem;
}

.bib em {
  font-style: italic;
  font-weight: normal;
  color: #468672;
}

/* md-block[rendered] {} */

/* IMPORTED - Periodic Table Etymology */

#PeriodicTable {
  display: grid;
  grid-template-columns: repeat(18, 56px);
  font-size: 80%;
  justify-content: center;
}

#PeriodicTable, #PeriodicTable ul, #PeriodicTable li {
  padding-left: 0;
}

#PeriodicTable li {
  list-style-type: none;
}

#PeriodicTable > li {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: solid 1px black;
  margin: 4px auto;
  padding: 4px;
  box-sizing: border-box;
  position: relative;
  align-self: center;
}

#PeriodicTable > li > ul > li:nth-of-type(1) {
  position: absolute;
  left: 4px;
  top: 4px;
}

#PeriodicTable > li > ul > li:nth-of-type(2) {
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  left: 4px;
  bottom: 4px;
}

#PeriodicTable > li > ul > li:nth-of-type(3) {
  position: absolute;
  right: 4px;
  top: 4px;
}

#PeriodicTable .ptgap {
  border: 0;
}

.ptTip {
  visibility: hidden;
  background-color: #0D0A08;
  color: white;
  text-align: center;
  width: max-content;
  padding: 10%;
  border-radius: 8px;
  
  position: absolute;
  z-index: 1;
  
  top: 125%;
  left: 50%;
  transform:translateX(-50%);
}

#PeriodicTable li:not(.ptgap):hover .ptTip {
  visibility: visible;
}

.ptGreek {
  background-color: #CAFFBF;
}

.ptEnglish {
  background-color: #9BF6FF;
}

.ptLatin {
  background-color: #FFD6A5;
}

.ptGerman {
  background-color: #BDB2FF;
}

.ptProtoLanguages {
  background-color: #FFC6FF;
}

.ptRussian {
  background-color: #FFADAD;
}

.ptSwedish {
  background-color: #A0C4FF;
}

.ptFrench {
  background-color: #FDFFB6;
}

.ptOldNorse {
  background-color: #E9EDC9;
}


/* VIEW SIZING */


@media (max-width: 600px) {
  body {
    padding: 0%;
  }
  html {
    font-size: 4vw;
  }
  .twoCol ul {
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 0;
  }
  .twoCol ul > li:nth-child(even) {
    font-size: 3vw;
  }
  #NavBar {
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 0;
  }
  #Title {
    font-size: 6vw;
  }
  #HomePageLanding {
    font-size: 3vw;
  }
  #NavPageTable button > div:nth-child(1) {
    font-size: 3vw;
  }
  #NavPageTable button > div:nth-child(2) {
    font-size: 2vw;
  }
  #Back {
    top: 13vw;
  }
}

@media (min-width: 600px) {
  body {
    padding: 0% 10%;
  }
  html {
    font-size: 1.4vw;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 0% 20%;
  }
  html {
    font-size: 1.2vw;
  }
}

@media (min-width: 1800px) {
  body {
    padding: 0% 25%;
  }
  html {
    font-size: 0.8vw;
  }
}

@media (min-width: 2400px) {
  body {
    padding: 0% 30%;
  }
  html {
    font-size: 0.7vw;
  }
}